<!DOCTYPE html>
<html>
<head>
  <title>RailsBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="wrapper">
  <div class="banner">
    <h1 id="page-title">My Blog!</h1>
    <div>hello, welcome to my blog!</div>
    <div>The current time is: <%= Time.now.strftime("%d/%m/%Y %H:%M") %></div>
  </div>

  <ul class="nav nav-pills">
    <li class="<%= page_active?(welcome_index_path) %>"><%= link_to "Welcome page", welcome_index_path %></li>
    <li class="<%= page_active?(new_article_path) %>"><%= link_to "Articles page", new_article_path %></li>
    <li class="<%= page_active?(projects_path) %>"><%= link_to "Current Projects page", projects_path %></li>
  </ul>


  <div class="content">
    <%= yield %>
  </div>

  <div class="footer">
     Emma Leary
  </div>
</div>

</body>
</html>
