<!DOCTYPE html>
<html>
<head>
  <title>RailsBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="wrapper">
  <div class="banner">
    <h1 id="page-title">My Blog!</h1>
    <div>hello, welcome to my blog!</div>
    <div>The current time is: <%= Time.now.strftime("%d/%m/%Y %H:%M") %></div>
  </div>

  <div class="navigation">
    <a class="menu-link" href="<%= welcome_index_path %>" >Welcome page</a>
    <a class="menu-link" href="<%= new_article_path %>" >Articles page</a>
    <a class="menu-link" href="<%= current_projects_all_path %>" >Current Projects page</a>
  </div>

  <div class="content">
    <%= yield %>
  </div>

  <div class="footer">
     Emma Leary
  </div>
</div>

</body>
</html>
