<!DOCTYPE html>
<html>
<head>
  <title>RailsBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<h1>My Blog!</h1>
<div>hello, welcome to my blog!</div>
<div>The current time is: <%= Time.now.strftime("%d/%m/%Y %H:%M") %></div>


<a href="<%= welcome_index_path %>" >Welcome page</a>

<a href="<%= new_article_path %>" >Articles page</a>

<a href="<%= current_projects_all_path %>" >Current Projects page</a>


<%= yield %>

</body>
</html>
